{
  "extends": "airbnb-base",
   "rules": {
     "eol-last" : "off",
     "no-console": "off",
     "object-curly-newline": "off",
     "no-underscore-dangle": ["error", { "allow": ["_id"] }],
     "eslint-disable-next-line": "off",
     "eslint-disable": "off",
     "eslint-disable-line": "off"
   }
}